<div id="parametersModal" class="modal animated fadeIn">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-title">Configurar</div>
            <a class="button is-small is-primary is-close" (click)="toggleModal('parametersModal')">
                <span class="icon">
                    <i class="close-btn" aria-hidden="true"></i>
                </span>
            </a>
        </header>
        <section class="modal-card-body">
            <fieldset>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Área de conhecimento</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select>
                                        <option>Ciências da Natureza e suas Tecnologias</option>
                                        <option>Ciências Humanas e suas Tecnologias</option>
                                        <option>Linguagens, Códigos e suas Tecnologias</option>
                                        <option>Matemática e suas Tecnologias</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Língua estrangeira</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="language">
                                    Inglês
                                </label>
                                <label class="radio">
                                    <input type="radio" name="language">
                                    Espanhol
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="is-pulled-right">
                <button class="button is-success" (click)="toggleModal('parametersModal')">Iniciar</button>
            </div>
        </section>
    </div>
</div>