<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://bulma.io">
                <span>Treinem</span>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-small is-primary" (click)="minimizeWindow()">
                            <span class="icon">
                                <i class="minimize-btn" aria-hidden="true"></i>
                            </span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-small is-primary" (click)="toggleMaximize()">
                            <span class="icon">
                                <i id="window-btn" class="maximize-btn" aria-hidden="true"></i>
                            </span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-small is-primary is-close" (click)="closeWindow()">
                            <span class="icon">
                                <i class="close-btn" aria-hidden="true"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>