<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <div class="tile">
            <div class="tile is-parent is-12">
                <div class="tile is-child notification is-primary">
                    <div class="content">
                        <p class="title">
                            {{area.value}}
                            {{area.code == "LINGUAGENS" ? (language == "en" ? "(Inglês)" : "(Espanhol)") : "" }}
                            <button class="button is-primary is-pulled-right" [routerLink]="['/']">Voltar</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent is-vertical is-6">
                <div class="tile is-child notification is-warning">
                    <div class="content">
                        <p class="title">Questão {{currentQuestionNumber}}</p>
                        <div class="content" [innerHtml]="currentQuestion.content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-child notification is-info">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let option of currentQuestion.options, index as i">
                                <td><button class="button is-primary is-pulled-left" [disabled]="currentQuestion.isAnswered"
                                        [ngClass]="{'is-success' : option.isRight && option.isSelected, 'is-danger' : !option.isRight && option.isSelected}" (click)="selectOption(option)">{{i}}</button>
                                </td>
                                <td>{{option.content}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title">Tá com dúvida?</p>
                        <p class="subtitle">Talvez você precise pesquisar sobre:</p>
                        <div class="content">
                            <h3 class="has-text-link" *ngFor="let keyword of currentQuestion.keywords">
                                <a (click)="openLink(keyword)">{{keyword}}</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>