/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$danger: $pink;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$modal-card-head-background-color: $primary;
$modal-card-body-background-color: $body-background-color;

$navbar-height: 1.25;


// Import Bulma
@import "~bulma/bulma";

// Import FontAwesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

//Importing Windows Icons font
@font-face {
    font-family: 'SegoeMDL';
    src: url('../fonts/segmdl2.ttf');
}


// Removing Electron scrollbar
html {
    overflow: hidden;
}

.content-scroll {
    display: block;
    overflow: auto;
    height: calc(100vh - 1.9rem);
}

.is-close:hover {
    background-color: $danger !important;
}

i {
    font-style: normal;
}

.close-btn:before {
    font-family: 'SegoeMDL';
    content: '\E8BB';
}

.minimize-btn:before {
    font-family: 'SegoeMDL';
    content: '\E921';
}

.restore-btn:before {
    font-family: 'SegoeMDL';
    content: '\E923';
}

.maximize-btn:before {
    font-family: 'SegoeMDL';
    content: '\E922';
}

.modal-card-title {
    color: white;
    padding-left: 0.75rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.modal-card-head {
    border-radius: 0px;
    padding: 0px;
}