<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box notification is-primary">
            <p class="title">Início</p>
            <p class="subtitle">Comece seus estudos aqui</p>
            <p>Para começar, clique no botão abaixo e escolha a área de estudos.</p>
            <a class="button is-link" (click)="openModal('parametersModal')">Começar</a>
        </div>
        <div class="tile is-child box notification is-warning">
            <p class="title">Sobre o Treinem</p>
            <p>Este programa foi feito por <a>Thassae Santos</a> e está sob licença GPL v3.0. </p>
            <a>Clique aqui para ler os termos de uso e política de privacidade.</a>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box notification is-info">
            <p class="title">Como utilizar?</p>
            <p>
                Este programa foi feito pensando naqueles que necessitam de uma ajuda extra nos
                estudos e não possuem recursos para arcar com cursos ou gostam de adotar uma abordagem mais autodidata
                no estudo.
            </p>
            <p>
                Você encontrará um banco de questões que fizeram parte do Exame Nacional do Ensino Médio até o ano de
                2019 e, em cada questão, você encontrará um link para saber mais sobre o tema abordado na mesma, de modo
                que a resolução se torne possível.
            </p>
            <p>Para maximizar os resultados, recomendamos a utilização de fontes alternativas de conhecimento
                (principalmente livros, revistas e jornais) e do
                auxílio de professores ou de pessoas que tenham conhecimento do conteúdo abordado.</p>
        </div>
    </div>
</div>

<parameters-modal></parameters-modal>